/assets/images/avatars/*
!/assets/images/avatars/default.jpg
/assets/images/backgrounds/*
!/assets/images/backgrounds/default.jpg
/assets/images/classfields/*
!/assets/images/classfields/index.html
/test/
config/database.php
/adminpanel