<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule "^post/(.*)$" "/views/post.php?posttitle=$1"
    RewriteRule "^profile/(.*)$" "/views/profile.php?id=$1"
    RewriteRule ^ogloszenia$ /views/watch.php [L]
    RewriteRule ^resetuj-haslo(.*)$ /views/user/password_recovery.php [L]
    RewriteRule ^u/dodaj(.*)$ /views/user/new_classfield.php [L]
    RewriteRule ^u/ustawienia(.*)$ /views/user/settings.php [L]
    RewriteRule ^u/moje-ogloszenia(.*)$ /views/user/user_classfields.php [L]
    RewriteRule ^error/(.*)$ /views/errors/error.php?id=$1 [L]
    RewriteRule ^index.html$ /index.php [R,L]
</IfModule>

<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
    Header always append X-Frame-Options SAMEORIGIN
</IfModule>

RedirectMatch 404 /\.git
RedirectMatch 404 /\.gitignore

ErrorDocument 404 /error/404
ErrorDocument 403 /error/403
ErrorDocument 402 /error/402
ErrorDocument 401 /error/401
ErrorDocument 400 /error/400
ErrorDocument 451 /error/451
