<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule "^post/(.*)$" "/views/post.php?posttitle=$1"
    RewriteRule "^profile/(.*)$" "/views/profile.php?id=$1"
    RewriteRule ^ogloszenia$ /views/watch.php [L]
    RewriteRule ^password-recovery(.*)$ /views/user/password_recovery.php [L]
    RewriteRule ^u/dodaj(.*)$ /views/user/new_classfield.php [L]
    RewriteRule ^u/ustawienia(.*)$ /views/user/settings.php [L]
    Header set X-Robots-Tag "noindex, follow" env=NOINDEXFOLLOW
</IfModule>