.post{
    max-width:1200px;
    margin:auto!important;
}
.post .post-header{
    margin-bottom: 20px;
}
.post .images{
    height: 500px;
    margin-bottom:20px;
}
.post .custom-card-text{
    font-weight: 700;
    font-size: 25px;

}
.map-box{
    height: 250px;
}
.post .card.location{
    margin-bottom: 20px;
}
.post .member-avatar-box {
    display:block;
    width: 100px;
    height: 100px;
    margin:auto;
    border-radius:50%;
    border: 2px solid var(--bs-gray-300);
}
.post .member-username{
    text-align:center;
    font-size:23px;
    font-weight: 600;
    display:block;
    margin:auto;
    margin-top: 10px;
}
.profile-btn{
    display: block;
    margin:auto;
    margin-top: 20px;
}
.post .card{
    margin-bottom:20px;
}
.post-header .swiper{
    height:100%;
}
.post-header .swiper .swiper-slide img{
    display:block;
    margin:auto;
    height:100%;
}
.post .cost{
    font-weight: 700;
    color: #5c0073;
    font-size: 30px;
}
.post .title{
    font-weight: 300;
}
.post .post-details .detail{
    font-size:18px;
}
.post .post-details .detail i{
    color: #5c0073;
}
.navbar{
    margin-bottom:20px;
}