.watch{
    max-width:1200px;
    margin:auto;
}
.cardcol{
    margin-bottom:20px;
}
.map-box{
    width: 100%;
    height:200px;
}
.select2-container.select2-container--default.select2-container--open  {
  z-index: 5000;
}